* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: .85rem;
}


/* HEADER */
header {
  background-color: #0084fd;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

nav.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* nav div.menu {
  background-color: orchid;
}

img.logo {
  border: 1px solid orchid;
} */

nav i {
  font-size: 1.5rem;
}

.menu-desktop {
  display: none;
}

.menu-d-container {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  padding: 0 1rem;
}


/* MAIN */
section.features {
  padding: 3rem 0;
}

.row {
  display: flex;
  flex-direction: column;
}

div.card {
  /* border: 1px solid black; */
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 25px;
  padding: 2rem 1.5rem 0 1.5rem;
}

.columns {
  display: flex;
  flex-direction: column;
}

.lightblue-bg {
  background-color: #b5ddff;
}

.lilac-bg {
  background-color: #9792e4;
}

.lilac-text {
  color: #9792e4;
}

.white-bg {
  background-color: white;
  color: black;
}

.text-white {
  color: white;
}

h2.light-blue-text {
  color: #0084fd;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

button {
  border: none;
  border-radius: 25px;
  padding: .8rem 2rem;
  margin-bottom: 2rem;
}

nav button {
  margin-bottom: 0;
}

button.blue-btn {
  background-color: #0084fd;
  color: white;
  margin-bottom: 1.5rem;
}

section.features img {
  width: 100%;
  max-width: 250px;
}

section.features i {
  font-size: 5rem;
  padding-bottom: 1.5rem;
}

section.features i.fa-apple {
  font-size: .85rem;
  padding-bottom: 0;
}

div.one-third {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-align-center {
  text-align: center;
}

p.bold-text {
  font-weight: bold;
  color: #607587;
}

section.strategic-planning img {
  width: 100%;
}

h1 {
  font-size: 2rem;
  padding: 1.5rem 0;
}

img.img-max-width100 {
  max-width: 100%;
}

/* div.text-wrapper {
  text-align: center;
} */

.uppercase {
  text-transform: uppercase;
  padding-top: 1.5rem;
}

.bold {
  font-weight: 700;
}

.font-size-big {
  font-size: 1.5rem;
  padding: 0 .2rem;
}

.spacing {
  letter-spacing: 2px;
}

.flex-column-ai-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-column-jc-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.img-circle-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: red;
  overflow: hidden;
  min-width: 150px;
}

img.img-profile {
  height: 150px;
  margin-left: -25%;
}

img.about {
  margin-left: 0;
  margin-bottom: 1.5rem;
}

.small-container {
  max-width: 450px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* FOOTER */
.darkgray-bg {
  background-color: #333333;
}

div.text-wrapper,
div.app-dev {
  /* border: 2px solid black; */
  margin-bottom: 2rem;
}


/* MEDIA QUERY */

/* Tablet: screen almeno 576px */
@media screen and (min-width: 576px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  div.one-third {
    width: calc((100% / 3) - 1rem);
  }

  div.two-thirds {
    width: calc(((100% / 3) *2) - .5rem);
  }

  div.column-50 {
    width: calc((100% / 2) - 1rem);
  }

  .flex-column-ai-center {
    display: flex;
    flex-direction: row;
  }

  div.card .text-wrapper {
    text-align: left;
    padding-left: 1.5rem;
  }

  section.about-us {
    display: flex;
  }

  .column-left {
    width: 55%;
    padding-right: 5rem;
  }

  .column-right {
    width: 45%;
  }

}


/* Desktop: screen almeno 768px */
@media screen and (min-width: 768px) {
  .container {
    width: 70%;
    max-width: 950px;
  }

  i.fa-bars {
    display: none;
  }

  .menu-desktop {
    display: block;
  }

  .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  section.features .two-columns {
    display: flex;
  }

  section.features img {
    align-self: self-end;
  }

  .right-container {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
  }

  div.column-50 {
    width: calc((100% / 3) - 1rem);
  }

  
  .column-left {
    width: 70%;
  }

  .column-right {
    width: 30%;
  }

}
