* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* HEADER */
header {
  background-color: #0084fd;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

nav.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div.menu {
  background-color: orchid;
}

img.logo {
  border: 1px solid orchid;
}


/* MAIN */
section.features {
  padding: 3rem 0;
}


.row {
  display: flex;
  flex-direction: column;
}

div.card {
  border: 1px solid black;
  margin-bottom: 2rem;
  height: 200px;
  /* height da rimuovere */
  width: 100%;
  border-radius: 25px;
}

.columns {
  display: flex;
  flex-direction: column;
}


.lightblue-bg {
  background-color: #b5ddff;
}

.lilac-bg {
  background-color: #9792e4;
}

.white-bg {
  background-color: white;
}


/* FOOTER */
.darkgray-bg {
  background-color: #333333;
}

div.img,
div.text-wrapper,
div.app-dev {
  border: 2px solid black;
  height: 200px;
  /* height da rimuovere */
  margin-bottom: 2rem;
}


/* MEDIA QUERY */

/* Tablet: screen almeno 576px */
@media screen and (min-width: 576px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  div.one-third {
    width: calc((100% / 3) - 1rem);
  }

  div.two-thirds {
    width: calc(((100% / 3) *2) - .5rem);
  }

  div.column-50 {
    width: calc((100% / 2) - 1rem);
  }

  section.about-us {
    display: flex;
  }

  .column-left {
    width: 60%;
  }

  .column-right {
    width: 40%;
  }

}


/* Desktop: screen almeno 1200px */
@media screen and (min-width: 1200px) {
  .container {
    width: 950px;
  }

  .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .right-container {
    display: flex;
    justify-content: flex-end;
    /* Controllare qui*/
  }

  div.column-50 {
    width: calc((100% / 3) - 1rem);
  }
}
