* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* HEADER */
header {
  background-color: #0084fd;
  padding: 20px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

nav.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div.menu {
  background-color: orchid;
}

img.logo {
  border: 1px solid orchid;
}


/* MAIN */
section.features {
  padding: 3rem 0;
}


.flex-col {
  display: flex;
  flex-direction: column;
}

div.card {
  border: 1px solid black;
  background-color: #b5ddff;
  width: 100%;
  margin-bottom: 2rem;
}

.lilac-bg {
  background-color: #9792e4;
}

div.img,
div.text-wrapper,
div.app-dev {
  border: 2px solid black;
  height: 200px;
  /* height da rimuovere */
}